<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nouveau Groupe</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <nav class="navbar">
        <ul>
            <li>
                <a href="/examens/all">Gestion des Examens</a>
                <ul class="submenu">
                    <li><a th:href="@{/examens/all}">Afficher les Examens</a></li>
                    <li><a th:href="@{/examens/new}">Créer un Nouvel Examen</a></li>
                </ul>
            </li>
            <li>
                <a href="/Personnel/allE">Gestion du Personnel</a>
                <ul class="submenu">
                    <li><a th:href="@{/Personnel/allE}">Liste des enseignants</a></li>
                    <li><a th:href="@{/Personnel/allP}">Liste des Personnels Administratifs</a></li>
                    <li><a th:href="@{/Personnel/new}">Créer un Nouveau Personnel</a></li>
                </ul>
            </li>
            <li>
                <a href="/EP/new">Gestion des Éléments Pédagogiques</a>
                <ul class="submenu">
                    <li><a th:href="@{/Module/all}">Afficher les Modules</a></li>
                    <li><a th:href="@{/Module/new}">Créer un Nouveau Module</a></li>
                </ul>
            </li>
            <li>
                <a href="/Groupe/all">Gestion des Groupes</a>
                <ul class="submenu">
                    <li><a th:href="@{/Groupe/all}">Afficher les Groupes</a></li>
                    <li><a th:href="@{/Groupe/new}">Créer un Nouveau Groupe</a></li>
                </ul>
            </li>
            <li>
                <a href="/departements/all">Gestion des Départements</a>
                <ul class="submenu">
                    <li><a th:href="@{/Departement/all}">Afficher les Départements</a></li>
                    <li><a th:href="@{/Departement/new}">Créer un Nouveau Département</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h2>Créer un Nouveau Groupe</h2>
        <form th:action="@{/Groupe/save}" th:object="${groupe}" method="post">
            <div>
                <label for="nomGroupe">Nom du Groupe</label>
                <input type="text" id="nomGroupe" th:field="*{nomGroupe}" required>
            </div>
            <div>
                <label for="enseignants">Enseignants</label>
                <select id="enseignants" name="enseignantIds" multiple th:field="*{enseignantIds}">
                    <option th:each="enseignant : ${enseignants}" th:value="${enseignant.id}" th:text="${enseignant.nom}"></option>
                </select>
            </div>
            <div>
                <button type="submit">Sauvegarder</button>
            </div>
        </form>
    </div>
</body>
</html>